{% extends 'base.html' %} {% import 'macros.html' as macro %} {% block content %}
<div class="container">
  <div class="row">
    <img src="./static/images/nature.jpeg" class="cover" style="width:100%" />
  </div>

  <div class="row col-sm-9 col-xs-9 col-md-8 col-lg-8">
    <h2>Nature</h2>
    <p> My greatest joy is to continuously experience the divinity that flows through all life and manifests in countless forms. The infinite forms of divine love that we’re so fortunate to be able to experience here on Mother Earth, deeply inspire me. The
      not only enrich our lives beyond words or measure, but also offer constant support on our journeys, so that we may each fulfill our sacred, unique purpose for being here as a human. One of these divine forms of support manifests as Nature messages.
      When our hearts and minds are open, we notice that life, seen and unseen, is always fully aware of us and communicating with us. It’s in our nature to perceive these empowering messages. However, in this world of conditioning and polarities, our
      natural ability to receive this kind of support isn’t always open or obvious. Most of us have experienced some form of heart trauma in our lives. This causes our hearts to enclose themselves in a protective shield to prevent further pain. Unfortunately,this
      armor also prevents us from experiencing all that our sacred hearts desire for us, including embracing who we truly are—our divine true nature that merges Spirit with Nature. Many of us have been taught by others to expect that life is against us
      and to be suspicious of anything “too good to be true” or that defies logic. We’re taught to focus on limitations and worst case scenarios instead of possibilities and positive outcomes. This causes us to constrict with fear, instead of opening
      up, expanding, allowing and receiving.</p>
  </div>
  <div class="button btn btn-info">
    <a href="/subscribe">Subscribe Here</a>
  </div>
</div>
</div>
</div>
</div>
{% endblock %}
